<main>
  <article class="art">
    <div class="bann">
      <img src="assets/proch.jpg" alt="racxa" />
      <h2>Hackers in your computer</h2>
      <p>Mark Pensoy</p>
    </div>
    <div class="bann1">
      <img src="assets/prochproch.jpg" alt="raxa" />
      <h2>Secure your account with some shitty program</h2>
      <p>Dickhead Dickson</p>
      <img src="assets/prochaproch.jpg" alt="racxa" />
      <h2>blablablablabla</h2>
      <p>aljnvajnvaekfnoailnlaiblib</p>
    </div>
    <div class="bann1">
      <img src="assets/prochproch.jpg" alt="raxa" />
      <h2>Secure your account with some shitty program</h2>
      <p>Dickhead Dickson</p>
      <img src="assets/prochaproch.jpg" alt="racxa" />
      <h2>blablablablabla</h2>
      <p>aljnvajnvaekfnoailnlaiblib</p>
    </div>
  </article>
</main>
