.h3 {
  background: transparent;
  filter: none;
  letter-spacing: 1px;
  color: var(--colorText);
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  width: 100%;
}
.p {
  width: 100%;
  background: transparent;
  font-size: 1rem;
  color: rgb(192, 192, 192);
  font-family: "Oswald", sans-serif;
}
