:host {
  --colorMain: #161616;
  --colordarkText: #0c0c0c;
  --colorDarkMainColor: #054211;
  --colorText: #11a82f;
  --colorBackground: #232323;
  --postColor: #363636;
  --paragraph: #4e9f3d;
  --postColorHover: #515151;
  --tagColor: #c6c6c6;
  --shadowColor: black;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--colorBackground);
}
p {
  color: var(--paragraph);
}
main {
  margin: 50px 0px;
}

/*nav hover*/
/* Add this code to make the submenu appear when hovering over Categories */

/* Style for the submenu */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .post{
    background-color: var(--postColor);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10px;
    height: 200px;
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 5px var(--shadowColor));
    transition: 0.3s;
  }
  .post img{
    width: 100%;
    object-fit: cover;
    filter: brightness(70%) grayscale(50%);
  }
  .post h3{
    position: absolute;
    text-decoration: none;
    color:var(--colorText);
    bottom: 50px;
    left: 10px;
    letter-spacing: 1px;
  }
  .post h4{
    position: absolute;
    text-decoration: none;
    color: var(--paragraph);
    bottom: 35px;
    left: 10px;
    letter-spacing: 2px;
    filter: drop-shadow(0px 0px 3px var(--shadowColor));
    font-size: 13px;
  }
  .dAndT{
    margin-left: 160px;
  } */
h2 {
  filter: drop-shadow(0px 0px 3px var(--shadowColor));
}
/* .post:hover{
    height: 210px;
    width: 105%;
  } */
/* .tags{
    margin-top: 30px;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tagContainer{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    background-color: var(--postColor);
    padding: 2px 10px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px var(--shadowColor));
    transition: 0.3s;
  } */
p {
  padding: 5px;
}
p {
  padding: 5px;
}
/* The container <div> - needed to position the dropdown content */

/* Dropdown Content (Hidden by Default) */

/* Links inside the dropdown */

/* Change color of dropdown links on hover */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

/*post css*/

/*end post css*/
p {
  color: rgb(192, 192, 192);
  letter-spacing: 1px;
  text-decoration: none;
}
h2 {
  filter: drop-shadow(0px 0px 3px var(--shadowColor));
}
textarea {
  width: 100%;
  background: transparent;
  font-size: 1rem;
  color: rgb(192, 192, 192);
}
/* .tags{
    margin-top: 30px;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tagContainer{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    background-color: var(--postColor);
    padding: 2px 10px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px var(--shadowColor));
    transition: 0.3s;
  } */

/*this code above is whole blank page*/
input,
textarea {
  box-shadow: 0px 0px 10px 0px var(--colorDarkMainColor);
}
article {
  width: 90vw;
}
.cover {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: grayscale(50%);
}
.articleContent {
  margin: 40px;
  height: 120px;
  display: flex;
}
.profileText {
  height: 120px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.articleContent h2 {
  font-size: 2rem;
}
.articleContent .h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  background: transparent;
  filter: none;
  letter-spacing: 1px;
  color: var(--colorText);
}
.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  background: transparent;
  filter: none;
  letter-spacing: 1px;
  color: var(--colorText);
  width: 100%;
}
.text h2 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  background: transparent;
  filter: none;
  letter-spacing: 1px;
  color: var(--colorText);
}
.text {
  margin: 0 200px;
  height: 100%;
}
.text h2 {
  font-size: 1.5rem;
}
.text p {
  font-size: 1rem;
}
.profilePicture {
  padding: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid var(--colorText);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .text {
    margin: 0 50px;
  }
  .profileText input {
    font-size: 25px;
    height: 100%;
    margin-right: 20%;
  }
  .profileText p {
    margin-right: 20%;
  }
}

@media (max-width: 769px) {
  .cover {
    height: 200px;
  }
  main {
    margin-bottom: 80px;
  }
  .text {
    margin: 0 25px;
  }
  .articleContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }
  .profileText h2 {
    font-size: 25px;
    height: 100%;
    width: 100%;
    margin-right: 20%;
  }
  .profileText p {
    margin-right: 20%;
  }
  .profileText {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .buttondiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
