:host {
  --colorMain: #161616;
  --colordarkText: #0c0c0c;
  --colorDarkMainColor: #054211;
  --colorText: #11a82f;
  --colorBackground: #232323;
  --postColor: #363636;
  --paragraph: white;
  --postColorHover: #515151;
  --tagColor: #c6c6c6;
  --shadowColor: black;
}
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Bebas Neue', sans-serif; */
  font-family: "Oswald", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--colorBackground);
}
main {
  margin: 0px 0px;
}
main .carousel {
  height: 300px;
}

/*nav hover*/
/* Add this code to make the submenu appear when hovering over Categories */

/* Style for the submenu */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin-top: 10px;
  height: 200px;
}
.post {
  background-color: var(--postColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 10px;
  height: 200px;
  width: 20%;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 5px var(--shadowColor));
  transition: 0.3s;
}
.post img {
  width: 100%;
  object-fit: cover;
  filter: brightness(70%) grayscale(50%);
}
.post h3 {
  position: absolute;
  text-decoration: none;
  color: var(--colorText);
  bottom: 50px;
  left: 10px;
  letter-spacing: 1px;
}
.post h4 {
  position: absolute;
  text-decoration: none;
  color: var(--paragraph);
  bottom: 35px;
  left: 10px;
  letter-spacing: 2px;
  filter: drop-shadow(0px 0px 3px var(--shadowColor));
  font-size: 13px;
}
.dAndT {
  margin-left: 160px;
}
h2,
h3 {
  filter: drop-shadow(0px 0px 3px var(--shadowColor));
}
.post:hover {
  height: 210px;
  width: 105%;
}

.latest {
  width: 80%;
  margin-top: 20px;
  height: 30px;
  display: flex;
}
.latest a {
  text-decoration: none;
}
.latest h2 {
  color: var(--colorText);
  letter-spacing: 2px;
}
.post-card {
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
