<nav class="navi">
  <ul class="items">
    <li class="list"><a href="#" class="lnk active">Home</a></li>
    <li class="list">
      <a href="#" class="lnk">Categories</a>
      <ul class="submenu1">
        <li class="sub crypto">
          <a href="#">Malware</a>
          <ul class="subsubmenu">
            <li><a href="#">Malware Analysis</a></li>
            <li><a href="#">Virus Removal</a></li>
            <li><a href="#">Ransomware Prevention</a></li>
            <li><a href="#">Incident Response</a></li>
            <li><a href="#">Security Tools</a></li>
          </ul>
        </li>
        <li class="sub crypto">
          <a href="#">Cryptography</a>
          <ul class="subsubmenu">
            <li><a href="#">Public-Private Key</a></li>
            <li><a href="#">Digital Signature</a></li>
            <li><a href="#">Encryption Algorithms</a></li>
            <li><a href="#">Secure Communications</a></li>
            <li><a href="#">Cryptographic Protocols</a></li>
          </ul>
        </li>
        <li class="sub crypto">
          <a href="#">Certifications</a>
          <ul class="subsubmenu">
            <li><a href="#">CISSP</a></li>
            <li><a href="#">CEH (Certified Ethical Hacker)</a></li>
            <li>
              <a href="#">CISM (Certified Information Security Manager)</a>
            </li>
            <li><a href="#">CompTIA Security+</a></li>
            <li>
              <a href="#">OSCP (Offensive Security Certified Professional)</a>
            </li>
          </ul>
        </li>
        <li class="sub crypto">
          <a href="#">Courses</a>
          <ul class="subsubmenu">
            <li><a href="#">Cybersecurity Fundamentals</a></li>
            <li><a href="#">Network Security</a></li>
            <li><a href="#">Ethical Hacking</a></li>
            <li><a href="#">Incident Response Course</a></li>
            <li><a href="#">DevOps Security Training</a></li>
          </ul>
        </li>
        <li class="sub crypto">
          <a href="#">DevOpsSec</a>
          <ul class="subsubmenu">
            <li><a href="#">DevOps Security Best Practices</a></li>
            <li><a href="#">Continuous Security Integration</a></li>
            <li><a href="#">Container Security</a></li>
            <li><a href="#">Cloud Security</a></li>
            <li><a href="#">Automation Security</a></li>
          </ul>
        </li>
        <li class="sub crypto">
          <a href="#">SecArchitecture</a>
          <ul class="subsubmenu">
            <li>
              <a href="#">Security Architecture Design</a>
            </li>
            <li><a href="#">Threat Modeling</a></li>
            <li><a href="#">Secure Coding Practices</a></li>
            <li><a href="#">Network Segmentation</a></li>
            <li><a href="#">Security Policy Development</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="list"><a href="#" class="lnk">News</a></li>
    <li class="list"><a href="#" class="lnk">About</a></li>
  </ul>
</nav>
